<h1>TEST - ABOUT MORDOR TRAVEL.</h1>


<p>Your fortune for the day:</p>
<blockquote>{{ fortune2 }}</blockquote>

<p>Your second fortune for the day:</p>
<blockquote>{{ hams.callsign }}</blockquote>
<blockquote>{{ hams.operator }}</blockquote>
<blockquote>{{ hams.zip }}</blockquote>