<html>
    <body>
        <a href ="/">Home</a>
        
        <h2>This is the about page!</h2>
        
        <p>This online app provides the user with a way to log their ham radio contacts. The eventual goal is that this will be a responsive app, which can be accessed and used from a mobile device, for the purposes of viewing, searching, adding, and deleting their ham radio contacts. Since the FCC requires it anyways, might as well make it easy and fun to do!</p>
        
    </body>
</html>




